{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
<footer>
        <p>&copy; 2025 CollabÉpargne | <a href="{{ path('app_potilique') }}">Politique de confidentialité</a> | <a href="{{ path('app_condition') }}">Conditions d'utilisation</a></p>
    </footer>

{% endblock %}

    